.comments > h5 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
}

.cardTitle {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #212529;
}

.cardText {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: rgba(33, 37, 41, 0.5);
}